body {
	background-color: #f0f0f2;
	text-align: center;
	padding: 0px;
	font-family: "Lucida Console", Monaco, monospace;
}

.title {
	font-size: 32px;
	margin: 0px;
	padding: 0px;
}

.board {
	background-color: #424242;
	width: 360px;
	height: 360px;
	margin: 0 auto;
}

.box {
	margin: 0px;
	padding: 0px;
	padding-top: 12px;
	padding-left: 0px;
}

.button_box {
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    width: 100px;
    height: 100px;
}

.box button {
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
}

.box:hover {
	opacity: 0.8;
}

.empty {
	background-image:url('images/null.png');
}

.player-X {
	background-image:url('images/X.png');
}

.player-O {
	background-image:url('images/O.png');
}

.btn {
	border-radius: 0px;
}
